body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
#paragraph {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: text;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}
.untyped {
    color: black;
}
.result {
    margin-top: 10px;
}

#wrapper {
    height: 500px;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#wrapper #inputBox {
    position: absolute;
    opacity: 0;
    z-index: -1; 
    pointer-events: none; 
}

#restartBtn{
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

